USE [master]
GO
/****** Object:  Database [PRJ301_SE1625]    Script Date: 7/20/2022 1:15:39 PM ******/
CREATE DATABASE [PRJ301_SE1625]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ_project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ_project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ_project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ_project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1625].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1625]
GO
/****** Object:  View [dbo].[a]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[a] as(select STT from forum where username = 'a2')
GO
/****** Object:  View [dbo].[b]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[b] as(select * from forum where username = 'a2')
GO
/****** Object:  Table [dbo].[account_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_HE160227](
	[username] [nchar](30) NOT NULL,
	[password] [nchar](30) NOT NULL,
	[email] [nchar](30) NULL,
	[decentralization] [bit] NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[class_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_HE160227](
	[id] [nchar](10) NOT NULL,
	[total student] [int] NOT NULL,
 CONSTRAINT [PK_class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_HE160227](
	[cmtfrom] [nchar](30) NOT NULL,
	[content] [nchar](500) NOT NULL,
	[STT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum_HE160227](
	[username] [nchar](30) NULL,
	[title] [nvarchar](100) NULL,
	[text] [nvarchar](500) NULL,
	[pin] [bit] NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register_HE160227](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[id class] [nchar](10) NOT NULL,
	[id subject] [nchar](10) NOT NULL,
	[semester] [nchar](30) NOT NULL,
 CONSTRAINT [PK_register] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_HE160227](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[id] [nchar](10) NOT NULL,
	[slot booked] [nchar](10) NOT NULL,
	[day] [nchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject_HE160227]    Script Date: 7/20/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject_HE160227](
	[id] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[total slot] [int] NULL,
	[semester] [int] NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment_HE160227]  WITH CHECK ADD  CONSTRAINT [FK_comment_forum] FOREIGN KEY([STT])
REFERENCES [dbo].[forum_HE160227] ([STT])
GO
ALTER TABLE [dbo].[comment_HE160227] CHECK CONSTRAINT [FK_comment_forum]
GO
ALTER TABLE [dbo].[forum_HE160227]  WITH CHECK ADD  CONSTRAINT [FK_forum_account_HE160227] FOREIGN KEY([username])
REFERENCES [dbo].[account_HE160227] ([username])
GO
ALTER TABLE [dbo].[forum_HE160227] CHECK CONSTRAINT [FK_forum_account_HE160227]
GO
ALTER TABLE [dbo].[register_HE160227]  WITH CHECK ADD  CONSTRAINT [FK_register_class] FOREIGN KEY([id class])
REFERENCES [dbo].[class_HE160227] ([id])
GO
ALTER TABLE [dbo].[register_HE160227] CHECK CONSTRAINT [FK_register_class]
GO
ALTER TABLE [dbo].[register_HE160227]  WITH CHECK ADD  CONSTRAINT [FK_register_subject] FOREIGN KEY([id subject])
REFERENCES [dbo].[subject_HE160227] ([id])
GO
ALTER TABLE [dbo].[register_HE160227] CHECK CONSTRAINT [FK_register_subject]
GO
ALTER TABLE [dbo].[room_HE160227]  WITH CHECK ADD  CONSTRAINT [FK_room_register1] FOREIGN KEY([STT])
REFERENCES [dbo].[register_HE160227] ([STT])
GO
ALTER TABLE [dbo].[room_HE160227] CHECK CONSTRAINT [FK_room_register1]
GO
USE [master]
GO
